<h1>Editing friendspass</h1>

<%= render "form", friendspass: @friendspass %>

<br>

<div>
  <%= link_to "Show this friendspass", @friendspass, class:"btn btn-secondary" %>
  <%= link_to "Back to friendspasses", friendspasses_path, class:"btn btn-dark" %>
</div>
