<p style="color: green"><%= notice %></p>

<h1>Friendspasses</h1>

<div id="friendspasses">
  <% @friendspasses.each do |friendspass| %>
    <%= render friendspass %>
    <p>
      <%= link_to "Show this friendspass", friendspass %>
    </p>
  <% end %>
</div>

<%= link_to "New friendspass", new_friendspass_path %>
